#map {
	width: 100%;
}

.global-header {
	margin-bottom : 0px;
}

@media (max-width: 40em) {
  #map, #overlay {
    display: none;
  }
	#brigades-list-mobile {
		padding-top: 65px;
	}
}

@media (min-width: 40em) {
	#brigades-list-mobile {
		display: none;
	}
}


#map .leaflet-marker-icon
{
    cursor: pointer !important;
}

#overlay{
  /*background-color:rgba(204,39,62,0.9);*/
  opacity: 0.85;
  position:absolute;
  top:89px;
  left:0;
  width:30%;
  padding: 25px;
  overflow: auto;
}

/* Story styling */

#brigade-info ul.list-icons li
{
	margin-bottom: 1.75rem;
	padding-left: 3em;
	padding-top: 0.3em;
}
