body {
	color: #5a5a5a;
}

.label {
	background-color: #DDDDDD;
	color: #000000;
}


#map {
	width: 100%;
}

.global-header {
	margin-bottom : 0px;
}

@media (max-width: 40em) {
  #map, #overlay {
    display: none;
  }
	#brigades-list-mobile {
		padding-top: 65px;
	}
}

@media (min-width: 40em) {
	#brigades-list-mobile {
		display: none;
	}
}


#map .leaflet-marker-icon
{
    cursor: pointer !important;
}

#overlay{
  /*background-color:rgba(204,39,62,0.9);*/
  opacity: 0.85;
  position:absolute;
  top:94px;
  left:0;
  width:30%;
  padding: 25px;
  overflow: auto;
}

/* Story styling */

#brigade-info ul.list-icons li
{
	margin-bottom: 1.75rem;
	padding-left: 3em;
	padding-top: 0.3em;
}


.contributors img {
	width: 50px;
}

.contributor-owner img {
	border: 1px solid #428bca;
}

.people td {
	font-size: 20px;
}

.people img {
	width: 50px;
}

.sponsors img {
	padding: 10px 30px 10px 0;
}

.label:hover { text-decoration: none; }

.thumbnail {margin-bottom: 5px;}

/* Bars */
.bar {
	position: relative;
	width: 4px;
	height: 50px;
	margin: 10px 1px 0 1px;
	float: left;
}
.bar span {
		border-style: solid;
		border-width: 0 2px;
		display: block;
		width: 1px;
		margin: 0 1px;
		text-indent: -5000px;
		background: none repeat scroll 0 0 #95A5A6;
		border-color: #95A5A6;
		position: absolute;
		bottom: 0;
}

.project-needs { margin-top: 20px;}
