body {
	background-color: #FFF;
}

header, footer {
	height: 75px;
	padding: 10px !important;
}

#bottom {
	padding-top: 10px;
}

header p, footer p {
	display: inline;
}

header img, footer img {
	padding-left: 10px;
	vertical-align:middle
}

#nav {
	display: inline;
}

#nav li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	background-image: none;
}

#map {
	width: 100%;
}

/* On narrow screens, don't show the map or overlay */
.narrow-screen #map, .narrow-screen #overlay { display: none }
.narrow-screen #brigades-list-mobile { padding-top: 65px }

@media (max-width: 40em)
{
    .unknown-width #map,
    .unknown-width #overlay,
    .wide-screen #map,
    .wide-screen #overlay
    {
        display: none;
    }

    .unknown-width #brigades-list-mobile,
    .wide-screen #brigades-list-mobile
    {
        padding-top: 65px;
    }
}

/* On wide screens, do show the map and overlay */
@media (min-width: 40em)
{
    .unknown-width #brigades-list-mobile,
    .wide-screen #brigades-list-mobile
    {
        display: none;
    }
}



#map .leaflet-marker-icon
{
    cursor: pointer !important;
}

#signin-form {

}

#overlay{
  /*background-color:rgba(204,39,62,0.9);*/
  opacity: 0.85;
  position:absolute;
  top:165px;
  left:0;
  width:30%;
  padding:2em;
  overflow: auto;
}

/* Story styling */

#brigade-info ul.list-icons li
{
	margin-bottom: 1.75rem;
	padding-left: 3em;
	padding-top: 0.3em;
}
