header, footer {
	height:75px;
	width: 100%;
	background: #FFF;
}

#top, #bottom {
	width: 80%;
	margin: 0 auto;
}

#bottom {
	padding-top: 10px;
}

header p, footer p {
	display: inline;
}

header img, footer img {
	padding-left: 10px;
	vertical-align:middle
}

#map {
	width: 100%;
}

#signin-form {
	
}

.brigade-overlay{
	display: none;
  background-color:rgba(204,39,62,0.9);
  position:absolute;
  top:10%;
  right:0;
  width:30%;
  height:100%;

}

