<nav class="nav-global-primary">
  <ul class="layout-breve layout-tight">
    <li><a href="/">Code for America</a></li>
    <li>
      <form class="search-global" id="search-global" action="https://www.google.com/search" method="get" role="search">
          <input type="search" id="search-global-input" class="search-global-input" autocomplete="off" placeholder="Search" name="q" />
          <!-- consider applying autofocus="autofocus" to input -->
          <button class="search-global-submit" id="search-global-submit" value="www.codeforamerica.org" type="submit" name="as_sitesearch">Search</button>
      </form>
    </li>
  </ul>
</nav>

<div class="global-header">  
  <a href="http://codeforamerica.github.io/brigade-alpha/" class="global-header-logo">
      <img src="http://brigade.codeforamerica.org/assets/logo.png" />
  </a>
  <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>

  <nav class="nav-global-secondary">
    <ul>
      <li class="nav-tier1 nav-has-children">
        <a href="/brigade" class="state-active">Brigade</a>  
        <ul class="nav-tier2">
          <li><a href="/tools">Tools</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="http://codeforamerica.tumblr.com">Tumblr</a></li>
        </ul>
      </li>
      <li><a href="/support-us" class="button">Donate</a></li>
    </ul>
  </nav>    
</div>
